* {
    margin: 0;
    padding: 0;
}


.category ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.category a {
    text-decoration: none;
    color: black;
}
.category a:hover {
    color: rgb(58, 206, 206);
    transition: 1s  ;
}


.category li {
    padding: 10px;   
}

.category input {
    margin-bottom: 15px;
    border: 1px solid gray;
    border-radius: 20px;
}