* {
    margin: 0;
    padding: 0;
}


.category ul, .footer ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.category a {
    text-decoration: none;
    color: black;
}
.category a:hover {
    color: rgb(58, 206, 206);
    transition: 1s  ;
}


.category li {
    padding: 10px;   
}

.category input {
    margin-bottom: 15px;
    border: 1px solid gray;
    border-radius: 20px;
}


.Iteryev {
    background-color: rgb(210, 231, 231);
}


.footer .divLinks {
    background-color: #1C2680;
}
.footer ul a {
    margin-right: 10px;
    text-decoration: none;
    color: white;
}




.iCons {
    position: absolute;
    z-index: 2;
    top: 90px;
    left: 300px;
    font-size: 30px;
}

.iCons i {
    margin-right: 20px;
}

.iCons a {
    text-decoration: none;
    color: white;
    display: inline-block;
    transition: 0.8s;
}



.icons {
    position: relative;
}

.iCons a:hover {
    display: inline-block;
    transition: 0.8s;
    transform: translateY(-10px);
}

.currentTopics a {
    text-decoration: none;
    color: black;
}

.interHref {
    text-decoration: none;
    color: black;
}

.interview {
    background-color: rgb(210, 231, 231);
}

.interview .row img {
    margin-left: -22px;
    margin-top: -10px;
}


.footer .siteAbout {
    background-color: #17206a;
}


.imgMargin {
    margin-top: 10px;
    margin-left: -50px;
}

.imgmarginBg {
    background-color: rgb(209, 226, 226);
    margin-bottom: 20px;
}


.warNews a {
    text-decoration: none;
    color: black;
}