{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="topNews pt-1">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-9 oneArticles">
                    <div class="row">   
                        <div class="col-6">
                            <a href="">
                                <img class="w-100" src=" {{ one_articles.img.url }}" alt="">
                            </a>
                        </div>
                        <div class="col-6">
                            <a class="text-decoration-none" href="" >
                                <div style="font-size: 15px; color: black">
                                    <i class="bi bi-calendar-event"></i>
                                    {{one_articles.create_date}}
                                </div>
                                <h4 class="pt-3 text-black">{{ one_articles.title }}</h4>
                                <p class="text-black">{{ one_articles.description }}</p>
                            </a>
                        </div>
                    </div>
                <div class="row my-5">
                    {% for items in four_articels %}
                    <div class="col-6 mt-3">
                        <div class="row py-1">
                            <div class="col-4">
                                <a href="">
                                    <img class="w-100" src="{{ items.img.url }}" alt="">
                                </a>
                            </div>
                            <div class="col-8">
                                <a class="text-decoration-none" href="">
                                    <p style="font-size: 15px; color: black;" class="my-1"> 
                                        <i class="bi bi-calendar-event"></i>
                                        {{ items.create_date }}     
                                    </p>
                                    <h6 class="text-black">{{ items.title }}</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <section class="bigNews">
                        <div class="row align-items-center justify-content-between py-2">
                            <div class="col-5 fs-5 text-start">
                                <i class="bi bi-circle"></i>
                                Muharir tanlovi
                            </div>
                            <div class="col-1 text-start">
                                <a class="" href="">Barchasi</a>
                            </div>
                        </div>
                        <div class="row py-3">
                            {% for editor in theEditor %}
                                <div class="col-4">
                                    <a class="text-decoration-none" href="">
                                        <img class="w-100" src="{{ editor.img.url }}" alt="">
                                    <p style="font-size: 15px; color: black" class="my-1">
                                        <i class="bi bi-calendar-event"></i>
                                        {{ editor.create_date }}
                                    </p>
                                    <h6 class="text-black"> {{ editor.title }} </h6>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                </section>
            </div>
            <div class="col-3">
                    <p><i class="bi bi-circle mx-1"></i>
                        So'nggi yangiliklar
                    </p>
                <div class="row">
                    {% for new in newNews %}
                        <a class="text-decoration-none text-black" href="">
                            <div class="col-12 py-2  ms-3 my-1 border-bottom">
                                <i style="font-size: 15px;" class="bi bi-calendar-event"> {{ new.create_date.date }} </i>
                                <p class="p-0 my-2"> {{ new.title }} </p>
                            </div>
                        </a>
                    {% endfor %}
                    <div class="col-12 py-3 ms-3 my-1">
                        <button class="rounded-5 border-1 p-2 bg-white" > Ko'proq yangiliklar <i class="bi bi-arrow-right"></i> </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="currentTopics">
            <div class="container">
                <p class="fs-5 text-start">
                    <i class="bi bi-circle mx-1"></i>
                    Dolzarb Mavzular
                </p>
                <div class="row">
                        <div class="col-6">
                            <a href="">
                                <img class="w-100" src="{{ currentNews.img.url }}" alt="">
                                <h4 class="py-1"> {{ currentNews.title }} </h4>
                                <p> {{ currentNews.description }} </p>
                            </a>
                        </div>
                    <div class="col-6">
                        <div class="row">
                            {% for singleItem in singleCurrent %}
                            <div class="col-6">
                                <a href="">
                                    <img class="w-100" src="{{ singleItem.img.url }}" alt="">
                                    <h6 class="py-1"> {{ singleItem.title }}</h6>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
</section>

<section class="interview my-3 py-4">
    <div class="container">
        <div class="row justify-content-between my-3">
            <div class="col-6">
                <p class="fs-5 text-start">
                    <i class="bi bi-circle mx-1"></i>
                    Intervyu
                </p>
            </div>
            <div class="col-6 text-end">
                <a class="text-decoration-none text-black" href="">
                    Intervyu
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="row">
            {% for i in interview %}
            <div class="col-3">
                <a class="interHref" href="">
                    <div class="bg-white px-2">
                        <img class="w-100 mb-1" src="{{ i.img.url }}" alt="">
                        <p class="my-2"> {{ i.title }} </p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="warNews my-5">
    <div class="container">
        <p class="fs-5 text-start">
            <i class="bi bi-circle mx-1"></i>
            Rossiya - Ukraine
        </p>
        <div class="row">
            <div class="col-6 imgmarginBg">
                <a href="">
                    <img class="w-100 imgMargin" src="{{ warNews_1.img.url }}" alt="">
                    <p class="mt-5">{{ warNews_1.title }}</p>
                </a>
            </div>
            <div class="col-6">
                {% for i in warNews %}
                <a href="">
                    <div class="row mb-4">
                        <div class="col-4">
                            <img class="w-100" src=" {{ i.img.url }} " alt="">
                        </div>
                        <div class="col-8">
                            <p> {{ i.title }} </p>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </diw>
    </div>
</section>
{% endblock content %}