{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="topNews pt-1">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-10 oneArticles">
                {% comment %} {% for item in one_articles %} {% endcomment %}
                    <div class="row">   
                        <div class="col-6">
                            <a href="">
                                <img class="w-100" src=" {{ one_articles.img.url }}" alt="">
                            </a>
                        </div>
                        <div class="col-6">
                            <a class="text-decoration-none" href="" >
                                <div style="font-size: 15px; color: black">
                                    <i class="bi bi-calendar-event"></i>
                                    {{one_articles.create_date}}
                                </div>
                                <h2 class="pt-3 text-black">{{ one_articles.title }}</h2>
                                <p class="text-black">{{ one_articles.description }}</p>
                            </a>
                        </div>
                    </div>
                {% comment %} {% endfor%} {% endcomment %}
                <div class="row my-3">
                    {% for items in four_articels %}
                    <div class="col-6">
                        <div class="row py-1">
                            <div class="col-4">
                                <a href="">
                                    <img class="w-100" src="{{ items.img.url }}" alt="">
                                </a>
                            </div>
                            <div class="col-8">
                                <a class="text-decoration-none" href="">
                                    <p style="font-size: 15px; color: black;" class="my-1"> 
                                        <i class="bi bi-calendar-event"></i>
                                        {{ items.create_date }}     
                                    </p>
                                    <h6 class="text-black">{{ items.title }}</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <section class="bigNews">
                        <div class="row align-items-center justify-content-between py-2">
                            <div class="col-5 fs-5 text-start">
                                <i class="bi bi-circle"></i>
                                Muharir tanlovi
                            </div>
                            <div class="col-1 text-start">
                                <a class="" href="">Barchasi</a>
                            </div>
                        </div>
                        <div class="row py-3">
                            {% for editor in theEditor %}
                                <div class="col-4">
                                    <a class="text-decoration-none" href="">
                                        <img class="w-100" src="{{ editor.img.url }}" alt="">
                                    <p style="font-size: 15px; color: black" class="my-1">
                                        <i class="bi bi-calendar-event"></i>
                                        {{ editor.create_date }}
                                    </p>
                                    <h6 class="text-black"> {{ editor.title }} </h6>
                                    </a>
                                </div>
                            {% endfor %}
                                {% comment %} <div class="col-4">
                                    <img class="w-100" src="img/E4I5f_0MaNLjwujG5aZ4isU2DWpx27Re.jpg" alt="">
                                    <i class="bi bi-calendar-event"></i>
                                    20:17/17.05.23
                                    <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta, voluptas!</h4>
                                </div> {% endcomment %}
                            {% comment %} <div class="col-4">
                                <img class="w-100" src="img/E4I5f_0MaNLjwujG5aZ4isU2DWpx27Re.jpg" alt="">
                                <i class="bi bi-calendar-event"></i>
                                20:17/17.05.23
                                <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta, voluptas!</h5>
                            </div> {% endcomment %}
                        </div>
                </section>
            </div>
            <div class="col-2">
                    <p><i class="bi bi-circle mx-1"></i>
                        So'nggi yangiliklar
                    </p>
                <div class="row">
                    <div class="col-12 px-1 mx-3 py-2 border-bottom">
                            <i class="bi bi-calendar-event"> 20:17</i>
                        <p class="p-0 m-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus, exercitationem.</p>
                    </div>
                    <div class="col-12 px-1 mx-3 py-2 border-bottom">
                            <i class="bi bi-calendar-event"> 20:17</i>
                        <p class="p-0 m-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus, exercitationem.</p>
                    </div>
                    <div class="col-12 px-1 mx-3 py-2 border-bottom">
                            <i class="bi bi-calendar-event"> 20:17</i>
                        <p class="p-0 m-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus, exercitationem.</p>
                    </div>
                    <div class="col-12 px-1 mx-3 py-2 border-bottom">
                            <i class="bi bi-calendar-event"> 20:17</i>
                        <p class="p-0 m-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus, exercitationem.</p>
                    </div>
                    <div class="col-12 px-1 mx-3 py-2 border-bottom">
                            <i class="bi bi-calendar-event"> 20:17</i>
                        <p class="p-0 m-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus, exercitationem.</p>
                    </div>
                    <div class="col-12 px-1 mx-3 py-2 border-bottom">
                            <i class="bi bi-calendar-event"> 20:17</i>
                        <p class="p-0 m-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus, exercitationem.</p>
                    </div>
                    <div class="col-12 px-1 mx-3 py-2 border-bottom">
                            <i class="bi bi-calendar-event"> 20:17</i>
                        <p class="p-0 m-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus, exercitationem.</p>
                    </div>
                    <div class="col-12 px-1 mx-3 py-2 border-bottom">
                            <i class="bi bi-calendar-event"> 20:17</i>
                        <p class="p-0 m-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus, exercitationem.</p>
                    </div>
                    <div class="col-12 py-3">
                        <button class="rounded-5 border-1 p-2 bg-white" > Ko'proq yangiliklar <i class="bi bi-arrow-right"></i> </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}